.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #14142d;
  color: #fff;
  padding: 20px 30px;
  position: fixed;
  width: calc(100% - 40px);
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.header-container:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.header-logo {
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  transition: transform 0.3s;
}

.header-logo:hover {
  transform: scale(1.1);
}

.header-title {
  font-size: 26px;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

.header-nav {
  margin-left: auto;
}

.header-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-nav ul li {
  margin-left: 15px;
}

.header-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s, transform 0.3s;
  position: relative;
}

.header-nav ul li a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1abc9c;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.header-nav ul li a:hover::before {
  visibility: visible;
  width: 100%;
}

.header-nav ul li a:hover {
  color: #1abc9c;
  transform: translateY(-2px);
}

.selected-language {
  cursor: pointer;
  padding: 5px 10px;
  border: 2px solid #fff;
  border-radius: 12px;
  transition: background-color 0.3s, color 0.3s;
}

.selected-language:hover {
  background-color: #1abc9c;
  color: #1a1a40;
}
